.single-show-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: #000;
  }
  
  .episode-number-pill {
    font-size: 10px;
    display: inline-block;
    padding: 4px 8px;
    background-color: #000000;
    color: #000;
    border-radius: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .show-title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .show-description {
    font-size: 16px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .single-show-image {
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .season-selector {
    margin-bottom: 20px;
  }
  
  .season-selector select {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #ffffff;
    color: #fff;
    cursor: pointer;
  }
  
  .selected-season-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .season-episodes {
    display: inline-block;
    padding: 4px 8px;
    background-color: #000000;
    color: white;
    border-radius: 16px;
    font-weight: bold;
    margin: 0 0 15px 0;
  }
  
  .episode-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .episode-item {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #000000;
    border-radius: 10px;
  }
  
  .episode-title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .episode-description {
    font-size: 14px;
    color: #fff;
  }
  
  .go-back-btn {
    margin: 25px 0px 20px 0px;
    font-size: 16px;
    border: none;
    background-color: #1b7ae4;
    color: #fff;
  }
  
  .favourite-icon {
    cursor: pointer;
    color: #663399;
    font-size: 24px;
  }
  
  @media (max-width: 768px) {
    .single-show-details {
      padding: 10px;
    }
  
    .show-title {
      font-size: 24px;
    }
  
    .show-description {
      font-size: 14px;
    }
  
    .single-show-image {
      max-width: 100%;
      margin-bottom: 15px;
    }
  
    .season-selector select {
      padding: 8px 16px;
      font-size: 14px;
    }
  
    .selected-season-title {
      font-size: 20px;
    }
  
    .season-episodes {
      padding: 2px 6px;
      font-size: 10px;
      margin-bottom: 10px;
    }
  
    .episode-title {
      font-size: 16px;
      margin-bottom: 3px;
    }
  
    .episode-description {
      font-size: 12px;
    }
  
    .go-back-btn {
      margin: 20px 0px 15px 0px;
      font-size: 14px;
    }
  
    .favourite-icon {
      font-size: 20px;
    }
  }
  