.single-show-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: #fff;
  }
  
  
  .episode-number-pill {
    font-size: 10px;
    display: inline-block;
    padding: 4px 8px;
    background-color: #fff;
    color: #000;
    border-radius: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .show-title {
    font-size: 32px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .show-description {
    font-size: 16px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .single-show-image {
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 25px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .single-show-image:hover {
    transform: scale(1.05);
  }
  
  .season-selector {
    margin-bottom: 20px;
  }
  
  .season-selector select {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .selected-season-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .episode-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .episode-item {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: #fff;
    cursor: pointer;
  }
  
  .episode-item:hover {
    transform: translateY(-3px);
  }
  
  .episode-title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #fff;
  }
  
  .episode-description {
    font-size: 14px;
    color: #fff;
  }
  
  .go-back-btn {
    margin: 25px 0px 20px 0px;
    font-size: 16px;
    border: none;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .go-back-btn:hover {
    background-color: #444;
    color: #fff;
  }
  