.show-list-container {
  width: 100%;
  min-height: calc(100vh - 20px);
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: #000000;
  background-repeat: no-repeat;
}

.show-list {
  display: grid;
  background-color: black;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
}

.show-card {
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.show-image {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 8px;
  margin-bottom: 10px;
}

.show-title {
  font-size: 18px;
  margin-top: 10px;
}

.show-description {
  font-size: 14px;
}

.show-seasons {
  font-size: 12px;
  display: inline;
  padding: 2px 6px;
  background-color: #ffffff;
  color: #000;
  border-radius: 16px;
  margin-bottom: 0px;
}

.genre-container {
  display: inline-block;
  position: relative;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.genre-label {
  position: absolute;
  top: -8px;
  left: 8px;
  padding: 0 4px;
  font-size: 12px;
  font-weight: bold;
  background-color: #000000;
  color: #ffffff;
}

.genre-pill {
  font-size: 12px;
  display: inline-block;
  padding: 4px 8px;
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 0px;
  margin-right: 4px;
}

.genre-pill:last-child {
  margin-right: 0;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
}

.show-genres {
  margin-top: 10px;
  margin-bottom: 10px;
}

.last-updated {
  font-size: 10px;
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sorting-options{
  color: #ccc;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .show-list-container {
    margin: 10px;
    min-height: calc(100vh - 30px);
  }

  .show-card {
    border-radius: 8px;
  }
}
